.slideShow{

    width: 80%;
/*    overflow: hidden;*/
    margin: 20px 0 auto;
}

.slideshowSlider{
    transition: ease 1000ms;
    white-space: nowrap;
}
.slide{
    display: inline-block;
    width: 200px;
    height: 200px;
    align-items: center;
}

.imageSlide{
    width: 150px ;
    height: auto ;
}